body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 18px;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

a {
    color: white;
}
